.left-hidden{
	position: absolute !important;
  	transform: translate(-600%, 0);
  	-ms-transform: translate(-600%, 0);
  	-webkit-transform: translate(-600%, 0);
}
.right-hidden{
	position: absolute !important;
  	transform: translate(600%, 0);
  	-ms-transform: translate(600%, 0);
  	-webkit-transform: translate(600%, 0);
}
#portfolio{
	-moz-transition: all 1.5s;
  	-o-transition: all 1.5s;
  	-webkit-transition: all 1.5s;
  	transition: all 1.5s;
  	-moz-transition-duration: 1.5s;
  	-o-transition-duration: 1.5s;
  	-webkit-transition-duration: 1.5s;
  	transition-duration: 1.5s;
}
#home{
	-moz-transition: all 1.5s;
  	-o-transition: all 1.5s;
  	-webkit-transition: all 1.5s;
  	transition: all 1.5s;
  	-moz-transition-duration: 1.5s;
  	-o-transition-duration: 1.5s;
  	-webkit-transition-duration: 1.5s;
  	transition-duration: 1.5s;
}
#contact{
	-moz-transition: all 1.5s;
  	-o-transition: all 1.5s;
  	-webkit-transition: all 1.5s;
  	transition: all 1.5s;
  	-moz-transition-duration: 1.5s;
  	-o-transition-duration: 1.5s;
  	-webkit-transition-duration: 1.5s;
  	transition-duration: 1.5s;
}
.hidden{
	display: none;
}
/*.linked-in{
  position:absolute;
  right:0;
  bottom:0;
  right:3%;
  bottom:3%;
}*/